<div Center style="height: 100vh">
  <div>
    <h1>Hello World</h1>
    <h1>Hello World</h1>
    <h1>Hello World</h1>
  </div>

</div>

<div Sidebar style="height: 100vh">
  <div style="background: red" contenteditable>
    Hello
  </div>

  <div style="background: yellow" contenteditable>Hello</div>

</div>


<div Pancake style="height: 100vh">

    <h1>Hello World</h1>
    <h1>Hello World</h1>
    <h1>Hello World</h1>


</div>






<div GridCards style="height: 100vh">



  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>


</div>
